{% extends 'base.html' %}

{% block title %}
Đăng nhập
{% endblock %}


{% block css %}
{% load static %}
{% include 'partials/btCss.html' %}
<link rel="stylesheet" href="{% static 'css/registration/styles.css'%}">
{% endblock %}


{% block content %}
<div class="modal fade" id="msgFail" data-backdrop="static" data-keyboard="false" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="msgLabel">Kết quả đăng nhập</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Đăng nhập không thành công. <br>
        {% for message in messages %}
        {{message}}<br>
        {% endfor %}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <a href="/signup" type="button" class="btn btn-secondary bg-success">Đăng ký</a>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="row">
    <div class="card mx-auto box">
      <div class="card-body">
        <a href="/home" class="my-4 h5"><i class="bi bi-arrow-left"></i> Quay lại trang chủ</a>
        <h2 class="my-2">Chào mừng quay lại</h2>
        <div class="subtitle">
          <p>Bạn có thể đăng nhập phía dưới, <br>
            hoặc <a href="/signup">đăng ký</a> nếu bạn chưa có tài khoản </p>
        </div>
        <form action="/signin" method="POST">
          {% csrf_token %}
          <div class="form-group">
            <label for="username">Tên đăng nhập</label>
            <input type="text" class="form-control" placeholder="Tên đăng nhập" id="username" name="username" required>
          </div>
          <div class="form-group">
            <label for="password">Mật khẩu</label>
            <input type="password" class="form-control" placeholder="Mật khẩu" id="password" name="password" required>
          </div>
          <div class="form-group form-check">
            <input type="checkbox" class="form-check-input" id="rememberme" name="rememberme">
            <label class="form-check-label" for="rememberme">Lưu thông tin đăng nhập</label>
          </div>
          <div class="form-group text-center">
            <button type="submit" class="btn btn-primary">Đăng nhập</button>
          </div>
        </form>
        <div class="footer">
          <p>Vẫn chưa có tài khoản? <a href="/signup">Hãy đăng ký</a></p>
          <p>Quên mật khẩu? <a href="#">Khởi tạo lại mật khẩu</a></p>
          <p>Bạn là admin? <a href="/admin_site/signin">Chuyển trang đăng nhập</a></p>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}


{% block js %}
{% include 'partials/btJs.html' %}
{% if fail %}
<script>
  $('#msgFail').modal('show');
</script>
{% endif %}
{% endblock %}