<header class="site-navbar py-4" role="banner">

    <div class="container">
      <div class="d-flex align-items-center">
        <div class="site-logo">
          <a href="/">
            <img src="../static/images/logo.png" alt="Logo">
          </a>
        </div>
        <div class="ml-auto">
          <nav class="site-navigation position-relative text-right" role="navigation">
            <ul class="site-menu main-menu js-clone-nav mr-auto d-none d-lg-block">
              <li class="active"><a href="/" class="nav-link">Trang chủ</a></li>
              <li><a href="/tournaments" class="nav-link">Tham gia giải đấu</a></li>
              <li><a href="/createteam" class="nav-link">Đội bóng</a></li>
              <li><a href="#" class="nav-link">Liên hệ</a></li>
              {% if user.is_authenticated %}
              <li>
                <div class="dropdown">
                  <a class="btn btn-secondary bg-success dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                    {{user.username}}
                  </a>
                  <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                    <li><a class="dropdown-item" href="editprofile">Thông tin cá nhân</a></li>
                    <li><a class="dropdown-item" href="signout">Đăng xuất</a></li>
                    <li><a class="dropdown-item" href="myteam">Đội bóng của tôi</a></li>
                  </ul>
                </div>
              </li>
              {% else %}
              <li><a href="/signin" class="btn btn-primary py-3 px-4 mr-3">Đăng nhập</a></li>
              {% endif %}
            </ul>
          </nav>

          <a href="#"
            class="d-inline-block d-lg-none site-menu-toggle js-menu-toggle text-black float-right text-white"><span
              class="icon-menu h3 text-white"></span></a>
        </div>
      </div>
    </div>

  </header>