<h1 style="color: red;">Giải đấu: {{tournament.ten_giaidau}}</h1> <br>
<h3>Lứa tuổi: {{tournament.luatuoi}}</h3> <br>
<h3 style="color: blue;">Trạng thái: {{tournament.trangthai}}</h3> <br>
<p>--------Danh sách thi dấu---------</p>
{% for doibong in tournament.get_ds_thamdu %}
- {{doibong.ten_doibong}} <br>
{% endfor %}
<p>----------------------------------</p>
<p>-----------Bảng xếp hạng----------</p>
<p>Bảng đấu     /số trận     /hiệu số     /số điểm      /thứ hạng       /tên đội bóng</p>
{% if ranking %}
    {% for rank in ranking %}
        {% for t in team %}
            {% if rank.ma_doibong.ma_doibong == t.ma_doibong %}
                {{rank.bangdau}} {{rank.so_tran}} {{rank.hieuso}} {{rank.so_diem}} {{rank.thuhang}} {{t.ten_doibong}} <br>
            {% endif %}
        {% endfor %}
    {% endfor %}
{% endif %}
<p>----------------------------------</p>
<p>-----------Các trận đấu----------</p>
{% if detail %}
    {% for d in detail %}
        {% for t in team %}
            {% if t.ma_doibong == d.ma_doiA.ma_doibong %}
                {% for j in team %}
                    {% if j.ma_doibong == d.ma_doiB.ma_doibong %}
                    <a href="/match/{{tournament.ma_giaidau}}/{{d.ma_trandau.ma_trandau}}">
                        {% if d.banthang_A %}
                            <p>{{t.ten_doibong}} {{d.banthang_A}} - {{d.banthang_B}} {{j.ten_doibong}} </p>
                        {% else %}
                            <p>{{t.ten_doibong}} - {{j.ten_doibong}} </p>
                        {% endif %}
                    </a>
                    {% endif %}
                {% endfor %}
            {% endif %}
        {% endfor %}
    {% endfor %}
{% endif %}
<p>----------------------------------</p>