<h1 style="color: red;">Giải đấu: {{tournament.ten_giaidau}}</h1> <br>
<h3>Lứa tuổi: {{tournament.luatuoi}}</h3> <br>
<h3 style="color: blue;">Trạng thái: {{tournament.trangthai}}</h3> <br>
<p>--------Danh sách thi dấu---------</p>
{% for doibong in tournament.get_ds_thamdu %}
- {{doibong.ten_doibong}} <br>
{% endfor %}
<p>----------------------------------</p>
<p>-----------Bảng xếp hạng----------</p>
<p>Bảng đấu     /số trận     /hiệu số     /số điểm      /thứ hạng       /tên đội bóng</p>
{% if ranking %}
    {% for rank in ranking %}
        {% for t in team %}
            {% if rank.ma_doibong.ma_doibong == t.ma_doibong %}
                {{rank.bangdau}} {{rank.so_tran}} {{rank.hieuso}} {{rank.so_diem}} {{rank.thuhang}} {{t.ten_doibong}} <br>
            {% endif %}
        {% endfor %}
    {% endfor %}
{% endif %}
<p>----------------------------------</p>
<p>-----------Các trận đấu----------</p>
{% if detail %}
    {% for d in detail %}
        {% for t in team %}
            {% if t.ma_doibong == d.ma_doiA.ma_doibong %}
                {% for j in team %}
                    {% if j.ma_doibong == d.ma_doiB.ma_doibong %}
                    <a href="/match/{{tournament.ma_giaidau}}/{{d.ma_trandau.ma_trandau}}">
                        {% if d.banthang_A %}
                            <p>{{t.ten_doibong}} {{d.banthang_A}} - {{d.banthang_B}} {{j.ten_doibong}} </p>
                        {% else %}
                            <p>{{t.ten_doibong}} - {{j.ten_doibong}} </p>
                        {% endif %}
                    </a>
                    {% endif %}
                {% endfor %}
            {% endif %}
        {% endfor %}
    {% endfor %}
{% endif %}
<p>----------------------------------</p>

<!DOCTYPE html>
<html lang="en">

<head>
  <title>Tournaments</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">

  <!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous"> -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
     integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

  {% include 'partials/ownCSS.html' %}
  {% include 'partials/tournamentCSS.html' %}

  <link href="https://fonts.googleapis.com/css?family=Roboto:400,700" rel="stylesheet" />

</head>

<body>

  <div class="site-wrap">

        <div class="site-mobile-menu site-navbar-target">
        <div class="site-mobile-menu-header">
            <div class="site-mobile-menu-close">
            <span class="icon-close2 js-menu-toggle"></span>
            </div>
        </div>
        <div class="site-mobile-menu-body"></div>
        </div>

        {% include 'partials/header.html' %}

        <div class="hero overlay" style="background-image: url('../static/images/bg_1.jpg');">
        <div class="container">
            <div class="row align-items-center">
            <div class="col-lg-5 ml-auto">
                <h1 class="text-white">THAM GIA GIẢI ĐẤU</h1>
            </div>
            </div>
        </div>
        </div>

        <div class="tournaments mt-5">

            <div class="container">
                <div class="row">

                    <div class="col-3 text-white">
                      <div class="row mt-5">

                        <form>
                          <div class="mb-3">
                            <input type="text" class="form-control" name="nameOrId" placeholder="Nhập tên hoặc mã...">
                          </div>

                          <div class="mb-3 form-check mt-5">
                            <label class="form-check-label text-info">Số đội tham gia</label>
                            <ul>
                              <li><input type="radio" class="form-check-input" value="16" name="amount"> 16</li>
                              <li><input type="radio" class="form-check-input" value="32" name="amount"> 32</li>
                            </ul>
                          </div>

                          <div class="mb-3 form-check mt-5">
                            <label class="form-check-label text-info">Lứa tuổi</label>
                            <ul>
                              <li><input type="radio" class="form-check-input" value="U16" name="age"> U16</li>
                              <li><input type="radio" class="form-check-input" value="U19" name="age"> U19</li>
                              <li><input type="radio" class="form-check-input" value="U23" name="age"> U23</li>
                            </ul>
                          </div>

                          <div class="mb-3">
                            <label class="form-check-label text-info">Lệ phí (vnđ/đội)</label>
                            <input type="text" class="form-control col" name="fees" value="0">
                            <div>-</div>
                            <input type="text" class="form-control col" name="fees" value="1000000">
                          </div>

                          <button type="submit" class="btn btn-primary mt-5">Lọc giải đấu</button>
                        </form>
                      </div>
                    </div>

                    <div class="col-9 mb-5">
  
                        <div class="card bg-dark mt-5">
                          <h5 class="card-header bg-success bg-gradient">Chuẩn bị</h5>
                          <div class="card-body">
                            <h5 class="card-title">Super League</h5>
                            <p>
                              <h8 class="card-text text-info me-4">Mã giải đấu: <h8 class="card-text ms-1 text-white">112sad874</h8></h8>
                              <h8 class="card-text text-info me-4">Số đội: <h8 class="card-text ms-1 text-white">16</h8></h8>
                              <h8 class="card-text text-info me-4">Lứa tuổi: <h8 class="card-text ms-1 text-white">U16</h8></h8>
                              <h8 class="card-text text-info me-4">Lệ phí: <h8 class="card-text ms-1 text-white">1000000 vnđ/đội</h8></h8>
                            </p>
                            <a href="#" class="btn btn-primary">Tham gia</a>
                            <a href="#" class="btn btn-primary float-end">Xem giải đấu</a>
                          </div>
                        </div>
        
                        <div class="card bg-dark mt-5">
                          <h5 class="card-header bg-success bg-gradient">Chuẩn bị</h5>
                          <div class="card-body">
                            <h5 class="card-title">Super League</h5>
                            <p>
                              <h8 class="card-text text-info me-4">Mã giải đấu: <h8 class="card-text ms-1 text-white">112sad874</h8></h8>
                              <h8 class="card-text text-info me-4">Số đội: <h8 class="card-text ms-1 text-white">16</h8></h8>
                              <h8 class="card-text text-info me-4">Lứa tuổi: <h8 class="card-text ms-1 text-white">U16</h8></h8>
                              <h8 class="card-text text-info me-4">Lệ phí: <h8 class="card-text ms-1 text-white">1000000 vnđ/đội</h8></h8>
                            </p>
                            <a href="#" class="btn btn-primary">Tham gia</a>
                            <a href="#" class="btn btn-primary float-end">Xem giải đấu</a>
                          </div>
                        </div>

                        <div class="card bg-dark mt-5">
                          <h5 class="card-header bg-danger bg-gradient">Kết thúc</h5>
                          <div class="card-body">
                            <h5 class="card-title">Super League</h5>
                            <p>
                              <h8 class="card-text text-info me-4">Mã giải đấu: <h8 class="card-text ms-1 text-white">112sad874</h8></h8>
                              <h8 class="card-text text-info me-4">Số đội: <h8 class="card-text ms-1 text-white">16</h8></h8>
                              <h8 class="card-text text-info me-4">Lứa tuổi: <h8 class="card-text ms-1 text-white">U16</h8></h8>
                              <h8 class="card-text text-info me-4">Lệ phí: <h8 class="card-text ms-1 text-white">1000000 vnđ/đội</h8></h8>
                            </p>
                            <a href="#" class="btn btn-primary">Tham gia</a>
                            <a href="#" class="btn btn-primary float-end">Xem giải đấu</a>
                          </div>
                        </div>
        
                        <div class="card bg-dark mt-5">
                          <h5 class="card-header bg-success bg-gradient">Chuẩn bị</h5>
                          <div class="card-body">
                            <h5 class="card-title">Super League</h5>
                            <p>
                              <h8 class="card-text text-info me-4">Mã giải đấu: <h8 class="card-text ms-1 text-white">112sad874</h8></h8>
                              <h8 class="card-text text-info me-4">Số đội: <h8 class="card-text ms-1 text-white">16</h8></h8>
                              <h8 class="card-text text-info me-4">Lứa tuổi: <h8 class="card-text ms-1 text-white">U16</h8></h8>
                              <h8 class="card-text text-info me-4">Lệ phí: <h8 class="card-text ms-1 text-white">1000000 vnđ/đội</h8></h8>
                            </p>
                            <a href="#" class="btn btn-primary">Tham gia</a>
                            <a href="#" class="btn btn-primary float-end">Xem giải đấu</a>
                          </div>
                        </div>

                        <div class="card bg-dark mt-5">
                          <h5 class="card-header  bg-danger bg-gradient">Kết thúc</h5>
                          <div class="card-body">
                            <h5 class="card-title">Super League</h5>
                            <p>
                              <h8 class="card-text text-info me-4">Mã giải đấu: <h8 class="card-text ms-1 text-white">112sad874</h8></h8>
                              <h8 class="card-text text-info me-4">Số đội: <h8 class="card-text ms-1 text-white">16</h8></h8>
                              <h8 class="card-text text-info me-4">Lứa tuổi: <h8 class="card-text ms-1 text-white">U16</h8></h8>
                              <h8 class="card-text text-info me-4">Lệ phí: <h8 class="card-text ms-1 text-white">1000000 vnđ/đội</h8></h8>
                            </p>
                            <a href="#" class="btn btn-primary">Tham gia</a>
                            <a href="#" class="btn btn-primary float-end">Xem giải đấu</a>
                          </div>
                        </div>
        
                        <div class="card bg-dark mt-5">
                          <h5 class="card-header bg-secondary bg-gradient">Đang diễn ra</h5>
                          <div class="card-body">
                            <h5 class="card-title">Super League</h5>
                            <p>
                              <h8 class="card-text text-info me-4">Mã giải đấu: <h8 class="card-text ms-1 text-white">112sad874</h8></h8>
                              <h8 class="card-text text-info me-4">Số đội: <h8 class="card-text ms-1 text-white">16</h8></h8>
                              <h8 class="card-text text-info me-4">Lứa tuổi: <h8 class="card-text ms-1 text-white">U16</h8></h8>
                              <h8 class="card-text text-info me-4">Lệ phí: <h8 class="card-text ms-1 text-white">1000000 vnđ/đội</h8></h8>
                            </p>
                            <a href="#" class="btn btn-primary">Tham gia</a>
                            <a href="#" class="btn btn-primary float-end">Xem giải đấu</a>
                          </div>
                        </div>

                        <div class="card bg-dark mt-5">
                          <h5 class="card-header bg-secondary bg-gradient">Đang diễn ra</h5>
                          <div class="card-body">
                            <h5 class="card-title">Super League</h5>
                            <p>
                              <h8 class="card-text text-info me-4">Mã giải đấu: <h8 class="card-text ms-1 text-white">112sad874</h8></h8>
                              <h8 class="card-text text-info me-4">Số đội: <h8 class="card-text ms-1 text-white">16</h8></h8>
                              <h8 class="card-text text-info me-4">Lứa tuổi: <h8 class="card-text ms-1 text-white">U16</h8></h8>
                              <h8 class="card-text text-info me-4">Lệ phí: <h8 class="card-text ms-1 text-white">1000000 vnđ/đội</h8></h8>
                            </p>
                            <a href="#" class="btn btn-primary">Tham gia</a>
                            <a href="#" class="btn btn-primary float-end">Xem giải đấu</a>
                          </div>
                        </div>
        
                        <div class="card bg-dark mt-5">
                          <h5 class="card-header bg-secondary bg-gradient">Đang diễn ra</h5>
                          <div class="card-body">
                            <h5 class="card-title">Super League</h5>
                            <p>
                              <h8 class="card-text text-info me-4">Mã giải đấu: <h8 class="card-text ms-1 text-white">112sad874</h8></h8>
                              <h8 class="card-text text-info me-4">Số đội: <h8 class="card-text ms-1 text-white">16</h8></h8>
                              <h8 class="card-text text-info me-4">Lứa tuổi: <h8 class="card-text ms-1 text-white">U16</h8></h8>
                              <h8 class="card-text text-info me-4">Lệ phí: <h8 class="card-text ms-1 text-white">1000000 vnđ/đội</h8></h8>
                            </p>
                            <a href="#" class="btn btn-primary">Tham gia</a>
                            <a href="#" class="btn btn-primary float-end">Xem giải đấu</a>
                          </div>
                        </div>

                        <div class="mt-5">

                          <nav aria-label="Page navigation example">
                            <ul class="pagination">
                              <li class="page-item">
                                <a class="page-link" href="#" aria-label="Previous">
                                  <span aria-hidden="true">&laquo;</span>
                                </a>
                              </li>
                              <li class="page-item"><a class="page-link" href="#">1</a></li>
                              <li class="page-item"><a class="page-link" href="#">2</a></li>
                              <li class="page-item"><a class="page-link" href="#">3</a></li>
                              <li class="page-item">
                                <a class="page-link" href="#" aria-label="Next">
                                  <span aria-hidden="true">&raquo;</span>
                                </a>
                              </li>
                            </ul>
                          </nav>
                        </div>
        
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% include 'partials/footer.html' %}

    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" 
    integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <!-- {% include 'partials/ownJS.html' %} -->

</body>

</html>
