a,
a:hover {
  color: black;
  text-decoration: none;
}

.btnLogout {
  color: #949494;
}

.btnLogout:hover {
  color: #757575;
}

.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  color: black;
  background-color: #e2e8f0;
  padding-bottom: 15px;
  padding-top: 15px;
}

.nav-pills .nav-link,
.nav-pills .show > .nav-link {
  color: black;
}

.nav-pills .nav-link:hover(:not(.active)),
.nav-pills .show > .nav-link:hover {
  color: #13a153;
}

.sidebar {
  background-color: #f7fafc;
}

#btnCreTournament, .btnCreate {
  display: inline-block;
  width: 175px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #17bf63;
  border: none;
  border-radius: 100px;
  color: white;
  font-size: 18px;
  line-height: 133%;
  font-weight: bold;
  text-align: center;
}

.btnCreate:hover {
  background-color: #13a153;
}

#back {
  display: flex;
  justify-content: center;
  align-items: center;
}

#back a {
  color: #17bf63;
}

#back a:hover {
  color: #13a153;
}

label:not(.custom-control-label) {
  font-weight: bold;
}

.container-thumb {
  width: 100%;
  height: 200px;
  overflow: hidden;
}

.thumb {
  transform: translateY(-40px);
  max-width: 100%;
}