.btn-primary {
  width: 175px;
  height: 44px;
  background-color: #17bf63;
  border: none;
  border-radius: 100px;
  color: white;
  text-align: center;
  font-size: 18px;
  line-height: 133%;
  font-weight: bold;
  margin-top: 25px;
}

.btn-primary:hover {
  background-color: #13a153;
}