<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <title>R&D Services - Services Portal</title>
    <%- include("include/header") %>
  </head>

  <body>
    <%- include("include/main") %> <%- include("include/footer") %>
  </body>
</html>
