<header class="site-navbar py-4" role="banner">

    <div class="container">
      <div class="d-flex align-items-center">
        <div class="site-logo">
          <a href="/">
            <img src="../static/images/logo.png" alt="Logo">
          </a>
        </div>
        <div class="ml-auto">
          <nav class="site-navigation position-relative text-right" role="navigation">
            <ul class="site-menu main-menu js-clone-nav mr-auto d-none d-lg-block">
              <li class="active"><a href="/" class="nav-link">Trang chủ</a></li>
              <li><a href="#" class="nav-link">Tham gia giải đấu</a></li>
              <li><a href="createteam" class="nav-link">Đội bóng</a></li>
              <li><a href="#" class="nav-link">Liên hệ</a></li>
              {% if user.is_authenticated %}
              <li><a href="signout" class="btn btn-primary py-3 px-4 mr-3">{{user.username}}</a></li>
              {% else %}
              <li><a href="signin" class="btn btn-primary py-3 px-4 mr-3">Đăng nhập</a></li>
              {% endif %}
            </ul>
          </nav>

          <a href="#"
            class="d-inline-block d-lg-none site-menu-toggle js-menu-toggle text-black float-right text-white"><span
              class="icon-menu h3 text-white"></span></a>
        </div>
      </div>
    </div>

  </header>