{% load static %}
<link rel="stylesheet" href="{% static 'fonts/icomoon/style.css' %}">

<link rel="stylesheet" href="{% static 'css/bootstrap/bootstrap.css' %}">
<link rel="stylesheet" href="{% static 'css/jquery-ui.css' %}">
<link rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %}">
<link rel="stylesheet" href="{% static 'css/owl.theme.default.min.css' %}">
<link rel="stylesheet" href="{% static 'css/owl.theme.default.min.css' %}">

<link rel="stylesheet" href="{% static 'css/jquery.fancybox.min.css' %}">

<link rel="stylesheet" href="{% static 'css/bootstrap-datepicker.css' %}">

<link rel="stylesheet" href="{% static 'fonts/flaticon/font/flaticon.css' %}">

<link rel="stylesheet" href="{% static 'css/aos.css' %}">

<link rel="stylesheet" href="{% static 'css/style.css' %}">

<link rel="stylesheet" href="{% static 'css/search.css' %}">
