{% extends 'base.html' %}

{% block title %}
Đăng ký
{% endblock %}


{% block css %}
{% load static %}
{% include 'partials/btCss.html' %}
<link rel="stylesheet" href="{% static 'css/registration/styles.css'%}">
{% endblock %}


{% block content %}
<div class="modal fade" id="msgFail" data-backdrop="static" data-keyboard="false" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="msgLabel">Kết quả đăng ký</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Đăng ký không thành công.<br>
        {% for message in messages %}
        {{message}}<br>
        {% endfor %}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="row">
    <div class="card mx-auto box">
      <div class="card-body">
        <a href="/home" class="my-4 h5"><i class="bi bi-arrow-left"></i> Quay lại trang chủ</a>
        <h2 class="my-2">Đăng ký</h2>
        <div class="subtitle">
          <p>Bạn có thể đăng ký bên dưới, <br>
            hoặc <a href="/signin">đăng nhập</a> nếu đã có tài khoản </p>
        </div>
        <form action="/signup" method="post">
          {% csrf_token %}
          <div class="form-group">
            <label for="username">Tên đăng nhập</label>
            <input type="text" class="form-control" placeholder="Tên đăng nhập" id="username" name="username" required>
          </div>
          <div class="form-group">
            <label for="email">Email</label>
            <input type="email" class="form-control" placeholder="Email" id="email" name="email" required>
          </div>
          <div class="form-group">
            <label for="password">Mật khẩu</label>
            <input type="password" class="form-control" placeholder="Mật khẩu" id="password" name="password" required>
          </div>
          <div class="form-group text-center">
            <button type="submit" class="btn btn-primary">Đăng ký</button>
          </div>
        </form>
        <div class="footer">
          <p>Nếu đăng ký, bạn đã đồng ý với <a href="#">điều khoản dịch vụ</a> và <a href="#">chính sách bảo mật</a>
            của chúng tôi</p>
          <p>Đã có tài khoản? <a href="/signin">Đăng nhập</a></p>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}


{% block js %}
{% include 'partials/btJs.html' %}
{% if fail %}
<script>
  $('#msgFail').modal();
</script>
{% endif %}
{% endblock %}