<h1>Edit Tournament!!!</h1>
<form name="edittournament" method="POST">
    {% csrf_token %}
    <p>Tên giải đấu: {{tournament.ten_giaidau}}</p>
    <input type="text" name="new_ten_giaidau">
    <p>Số đội tham dự: {{tournament.sodoi_thamdu}}</p>
    <select name="new_sodoi_thamdu">
        <option value="8">8 Đội</option>
        <option value="16">16 Đội</option>
        <option value="32">32 Đội</option>
    </select>
    <p>Thể thức: {{tournament.thethuc}}</p>
    <input type="text" name="new_thethuc" />
    <p>Lứa tuổi: {{tournament.luatuoi}}</p>
    <select name="new_luatuoi">
        <option value="15">U15</option>
        <option value="20">U20</option>
    </select>
    <p>Lệ phí: {{tournament.lephi}}</p>
    <input type="text" name="new_lephi" />
    <p>Loại sân: {{tournament.loaisan}}</p>
    <select name="new_loaisan">
        <option value="7">7</option>
        <option value="11">11</option>
    </select>
    <p>Chế độ: {{tournament.chedo}}</p>
    <select name="new_chedo">
        <option value="Cong khai">Công khai</option>
        <option value="Rieng tu"> Riêng tư</option>
    </select>
    <p>Trạng thái: {{tournament.trangthai}}</p>
    <input type="text" name="new_trangthai" />
    <br>
    <input type="submit">
</form>