<p1>Update match here!!!</p1>
<form method="POST" name='updatematch'>
    {% csrf_token %}
    <p2 style="text-align: center;">{{doiA.ten_doibong}}({{doiA.ma_doibong}}) VS {{doiB.ten_doibong}}({{doiB.ma_doibong}})</p2>
    <br>
    <p3>Số bàn thắng đội {{doiA.ten_doibong}}:</p3>
    <input type="text" name='banthang_A'>
    <br>
    <p3>Số bàn thắng đội {{doiB.ten_doibong}}:</p3>
    <input type="text" name='banthang_B'>
    <br>
    <p3>Số thẻ phạt đội {{doiA.ten_doibong}}:</p3>
    <input type="text" name='thephat_A'>
    <br>
    <p3>Số thẻ phạt đội {{doiB.ten_doibong}}:</p3>
    <input type="text" name='thephat_B'>
    <br>
    <input type="submit">
</form> 