* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: #17bf63;
}

a:hover {
    text-decoration: none;
    color: #13a153;
}

body {
    background-color: #f7fafc;
}

p {
    margin-top: 10px;
    margin-bottom: 10px;
}

.box {
    width: 365px;
    margin-top: 64px;
    box-shadow: 0px 4px 6px -1px rgba(0, 0, 0, 0.1), 0px 2px 4px -1px rgba(0, 0, 0, 0.06);
}

.subtitle {
    margin-top: 20px;
}

.btn-primary {
    width: 175px;
    height: 44px;
    background-color: #17bf63;
    border: none;
    border-radius: 100px;
    color: white;
    text-align: center;
    font-size: 18px;
    line-height: 133%;
    font-weight: bold;
    margin-top: 25px;
}

.btn-primary:hover {
    background-color: #13a153;
}

.footer {
    margin-top: 20px;
}
