{% extends 'base.html' %}

{% block title %}
Admin - Đăng nhập
{% endblock %}

{% block css %}
{% load static %}
{% include 'partials/btCss.html' %}
<link rel="stylesheet" href="{% static 'css/admin_site/signin.css'%}">
{% endblock %}

{% block content %}
<div class="modal fade" id="msgFail" data-backdrop="static" data-keyboard="false" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="msgLabel">Kết quả đăng nhập</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Đăng nhập không thành công. <br>
        {% for message in messages %}
        {{message}}<br>
        {% endfor %}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<div class="container-xl d-flex justify-content-center">
  <div class="card w-50 my-5">
    <div class="card-header h3 text-center">
      Admin Site
      <a href="/home" class="close" data-dismiss="modal">
        <span aria-hidden="true">&times;</span>
      </a>
    </div>
    <div class="card-body">
      <form action="/admin_site/signin" method="POST">
        {% csrf_token %}
        <div class="form-group">
          <label for="username">Tên đăng nhập</label>
          <input type="text" class="form-control" placeholder="Tên đăng nhập" id="username" name="username">
        </div>
        <div class="form-group">
          <label for="password">Mật khẩu</label>
          <input type="password" class="form-control" placeholder="Mật khẩu" id="password" name="password">
        </div>
        <div class="form-group text-center">
          <button type="submit" class="btn btn-primary">Đăng nhập</button>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock %}

{% block js %}
{% include 'partials/btJs.html' %}
{% if fail %}
<script>
  $('#msgFail').modal('show');
</script>
{% endif %}
{% endblock %}